<!DOCTYPE html>
<html>
<title>About Medico</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<div class="w3-content" style="max-width:1400px">

<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>Medico Healthcare </b></h1>
  <p>Your health is our <span class="w3-tag">priority</span></p>
</header>

<div class="w3-row">

<div class="w3-col l8 s12">
  <div class="w3-card-4 w3-margin w3-white">
    <img src="https://img.freepik.com/free-vector/flat-hand-drawn-hospital-reception-scene_52683-54613.jpg?size=626&ext=jpg" alt="Nature" style="width:80%">
    <div class="w3-container">
      <h3><b>PRESS RELEASE</b></h3>
      <h5>MEDICO patners<span class="w3-opacity">January 11, 2022</span></h5>
    </div>

    <div class="w3-container">
      <p>MEDICO partners with SecureLink for safe connectivity
        January 11, 2022 — MEDICO, a healthcare vendor best known for its web-based, fully integrated, interoperable electronic health record (EHR), today announced a partnership with SecureLink, an industry leader in critical access management.</p>
    </div>
  </div>
  <hr>

  <div class="w3-card-4 w3-margin w3-white">
  <img src="https://online.visual-paradigm.com/repository/images/6748adf2-f238-4d5a-8fe4-6939312c4408/healthcare-design/hospital-illustration.png?s=360" alt="Norway" style="width:100%">
    <div class="w3-container">
      <h3><b>Patient Monitoring</b></h3>
      <h5>The way we are caring our patients<span class="w3-opacity">April 2, 2014</span></h5>
    </div>

    <div class="w3-container">
      <p>We keep an eye on our patients’ conditions and progress throughout the duration of the treatment. Our services can store the patients’ medical test reports, which our doctors can access anytime they want.
        n today’s world, everyone is struggling to prioritize their health in their busy lives. The phenomenal popularity of healthcare apps bears witness to the fact that more and more people increasingly rely on technology to take care of themselves and meet their health goals.
        What’s even more fascinating is that even healthcare professionals are using smartphone health applications. These apps can help patients contact their doctors in case of an emergency without visiting their clinics. Doctors can now remotely access patients’ health data, monitor their progress, and provide real-time guidance. They facilitate appointments, reminders, check-ups, supervision on the go, and offer a host of other benefits. 
      </p>
      
        <!-- <input type="submit" value="Back to Register" style="padding:2%;; border-radius: 5px; background-color: blue; color: cornsilk; font-weight: bolder;"> -->
        <button onclick="window.location.href='/createPatient'" class="btn" style="padding:2%;; border-radius: 5px; background-color: blue; color: cornsilk; font-weight: bolder; margin-left: 39%; margin-bottom: 20px;">Back to Register</button>
    </div>
  </div>
</div>

<div class="w3-col l4">

  <div class="w3-card w3-margin w3-margin-top">
  <img src="https://thumbs.dreamstime.com/b/checkup-children-pediatrician-hospital-parents-appointment-mother-newborn-girl-sitting-medical-care-father-204699938.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>Making Appointments</b></h4>
      <p>Maintaining physical hand-written appointment journals can be quite cumbersome and, in most cases, outdated. Our apps can be used for making appointments, notifying patients and doctors about upcoming checkups, changing schedules, and other essential updates seamlessly.</p>
    </div>
  </div><hr>
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Popular Features</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <img src="https://media.istockphoto.com/vectors/medical-insurance-illustration-hospital-administrator-vector-id1163001521?k=20&m=1163001521&s=170667a&w=0&h=9X3HHv_kXV8q3S1uoYijbX8WdANtU8waz5fY7dCkjys=" alt="Image" class="w3-left w3-margin-right" style="width:150px;height: 150px;">
        <span class="w3-large">Patient Health Education</span><br>
        <span>These apps can educate patients about different health conditions by sharing useful, up-to-date information.</span>
      </li>
      <li class="w3-padding-16">
        <img src="https://media.istockphoto.com/vectors/banner-family-festively-visit-birth-in-hospital-vector-id1164079151?k=20&m=1164079151&s=612x612&w=0&h=zIk5yI1WmsCZXj1KYUe4QNZ53gPWt0IhaQjYk_CV3Jc=" alt="Image" class="w3-left w3-margin-right" style="width:150px;height: 150px;">
        <span class="w3-large">Diagnosis</span><br>
        <span>These are important for preventive purposes as they help patients understand their symptoms and call for help as needed.</span>
      </li> 
      <li class="w3-padding-16">
        <img src="https://img.freepik.com/free-vector/hospital-surgical-operation-composition_1284-65030.jpg?size=626&ext=jpg" alt="Image" class="w3-left w3-margin-right" style="width:150px;height: 150px;">
        <span class="w3-large">Reminder</span><br>
        <span>These provide reminders to take medicines, rest, and follow other healthy practices. They are also used for tracking and forming healthy habits like staying hydrated, getting enough rest, etc.</span>
      </li>   
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="https://thumbs.dreamstime.com/z/pregnant-woman-hospital-cartoon-illustration-female-patient-doctor%C3%A2%E2%82%AC%E2%84%A2s-office-vector-character-healthcare-flat-drawing-lady-141248094.jpg" alt="Image" class="w3-left w3-margin-right" style="width:150px;height: 150px;">
        <span class="w3-large">Women’s Health</span><br>
        <span>These include diet and weight loss applications, and they usually come with features like healthy recipes, trackers, and healthy eating guides.</span>
      </li>  
    </ul>
  </div>
  <hr> 
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Need for healthcare Software</h4>
    </div>
    <div class="w3-container w3-white">
    <p>
        Healthcare, like most other industries, has undergone a rapid transformation, thanks to advancements in technology. The usage of smartphone medical applications has increased worldwide, with more and more people relying on them for everything from medical treatments to general health and well-being. 
    </p>
    </div>
  </div>

</div>
</div><br>
</div>

<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
  <p>Powered by <a href="https://innovaccer.com/" target="_blank">Medico</a></p>
</footer>
</body>
</html>